<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Harvest API</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/redoc/main.css' />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->

    <base href="/">

</head>

<!--<body ng-app="harvestv2" layout="column" layout-fill>
<div ng-include src="'/partials/common/navigation.html'"></div>-->

<redoc scroll-y-offset="body > nav" spec-url='/docs/swagger.yaml'></redoc>

<!--<ng-include src="'/partials/common/footer.html'"></ng-include>

<!-- jQuery Version 1.11.1 -->
<script src="/bower_components/redoc/dist/redoc.js"> </script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap-validator/js/validator.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/at-table/dist/angular-table.min.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-resource/angular-resource.js"></script>
<script src="/javascript/app.js"></script>
<script src="/javascript/services.js"></script>
<script src="/javascript/controllers/user-ctrl.js"></script>
<script src="/javascript/controllers/admin-ctrl.js"></script>
<script src="/bower_components/crypto-js/crypto-js.js"></script>
</body>

</html>
