
    <!-- navbar-header -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">Harvest API</a>
    </div>
    <!-- /.navbar-header -->

<div ng-include src="'/partials/common/admin-sidebar.html'"></div>

<!-- Page Content -->
<div id="dashboard" class="bg-light-grey">
    <div class="bg-off-black">
        <div id="page-wrapper">

            <!-- Breadcrumb -->
            <div class="dashboard-head">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="/#/admin/">Dashboard</a></li>
                            <li class="active">Recent Activities</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /.Breadcrumb -->

            <!-- Right Panel Content -->
            <div class="right-panel-content">
                <h4 class="title text-uppercase"><strong><i class="fa fa-fw fa-clock-o"></i>Recent Activities</strong></h4>

                <div class="row">
                    <div class="col-md-9">

                        <!-- panel -->
                        <div class="panel panel-default">

                            <!-- panel-heading -->
                            <div class="panel-heading">
                                <h5>Recent User Activity</h5>
                            </div>
                            <!-- /.panel-heading -->

                            <!-- panel-body -->
                            <div class="panel-body">
                                <!-- table-responsive -->
                                <table width="100%" class="table table-striped table-responsive table-bordered table-hover" at-table at-paginated at-list="userLogsSearch" at-config="config">
                                    <thead>
                                    <tr>
                                        <th>Log Description</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Log Time</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td at-title="Log Description" at-implicit at-attribute="lo_log_description" width="300"></td>
                                        <td at-title="Name" at-attribute="lo_log_user.us_user_first_name + item.lo_log_user.us_user_last_name" width="300"><p style="width:200px;word-wrap:break-word;overflow-wrap: break-word;">{{ item.lo_log_user.us_user_first_name + ' ' + item.lo_log_user.us_user_last_name}}</p></td>
                                        <td at-title="Email" at-attribute="lo_log_user.us_email_address" width="300">{{ item.lo_log_user.us_email_address  }}</td>
                                        <td at-title="Log Time" at-implicit at-attribute="lo_log_date" width="300"></td>
                                        <td at-title="Role" at-attribute="app.lo_log_user.us_user_role" width="300">{{item.lo_log_user.us_user_role}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <at-pagination class="text-center" at-list="userLogsSearch" at-config="config"></at-pagination>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->

                        </div>
                        <!-- /.panel -->
                    </div>

                    <!-- tiles -->
                    <div class="col-md-3 tiles">
                        <div class="tile-stats">
                            <div class="icon">
                                <div class="triangle-topright"></div>
                                <img class="user-img" src="http://i.imgur.com/pRNNrMX.png">
                            </div>
                            <div class="count">{{ userCount }}</div>
                            <h3>New Sign ups</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                        <div class="tile-stats">
                            <div class="icon">
                                <div class="triangle-topright"></div>
                                <img class="app-img" src="http://i.imgur.com/wcEy2ya.png">
                            </div>
                            <div class="count">{{ userCount }}</div>
                            <h3>Users</h3>
                            <p>Lorem ipsum psdea itgum rixt.</p>
                        </div>
                    </div>
                    <!-- /.tiles -->

                </div>

                <div class="row">
                    <div class="col-md-12">

                        <!-- panel -->
                        <div class="panel panel-default">

                            <!-- /.panel-heading -->
                            <div class="panel-heading">
                                <h5>Recent App Activity</h5>
                            </div>
                            <!-- /.panel-heading -->

                            <!-- panel-body -->
                            <div class="panel-body">
                                <!-- table-responsive -->
                                <table width="100%" class="table table-striped table-responsive table-bordered table-hover" at-table at-paginated at-list="appLogsSearch" at-config="config">
                                    <thead>
                                    <tr>
                                        <th>Log Description</th>
                                        <th>Log Time</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <!--<th>Role</th>-->
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td at-title="Log Description" at-implicit at-attribute="lo_log_description" width="300"></td>
                                        <td at-title="Name" at-attribute="lo_log_user.ap_app_name" width="300"><p style="width:200px;word-wrap:break-word;overflow-wrap: break-word;">{{ item.lo_log_user.ap_app_name }}</p></td>
                                        <td at-title="App Description" at-attribute="lo_log_user.us_email_address" width="300">{{ item.lo_log_user.ap_app_desc  }}</td>
                                        <td at-title="Log Time" at-implicit at-attribute="lo_log_date" width="300"></td>
                                        <td at-title="Success" at-attribute="lo_log_success" width="300">{{item.lo_log_success}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <at-pagination class="text-center" at-list="appLogsSearch" at-config="config"></at-pagination>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->

                    </div>
                </div>
            </div>
            <!-- ./Right Panel Content -->

            <!-- Footer -->
            <!--<footer>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<ul class="footer-links text-left">-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--Privacy Policy-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="#">-->
                                    <!--Terms & Conditions-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span>Copyright © Your Website 2016</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</footer>-->
            <!-- ./Footer -->

        </div>
    </div>
</div>
<!-- ./Page Content -->
