body {
  overflow-x: hidden;
  font-family: "Fira Sans", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  padding-top: 75px;
}

ul {
  margin: 0;
  padding: 0;
}


.h1, h1 {
  font-size: 36px;
  margin-top: 0;
}

.navbar-custom{
  padding: 15px 0;
}

.navbar-default {
  background-color: #ffffff;
  border-color: #e7e7e7;
  margin-bottom: 0;
  border: none;
}

.nav>li>a {
  padding: 10px 25px !important;
}

.navbar-brand{
  font-weight: bold;
  font-size: 30px;
  /*font-family: "Lato Black", Helvetica, Arial, sans-serif;*/
  color: #333 !important;
  padding: 10px 25px 10px 15px!important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: inherit;
  border: none;
  border-bottom: 3px solid #555 !important;
  padding-bottom: 18px !important
}

.nav-tabs{
  border: none;
}

.nav-tabs li a:hover{
  background: transparent;
  border-color: transparent;
}

.nav-tabs-2 li a{
  /* padding-left: 15px !important; */
  padding: 12px 15px !important;
  border-bottom: 1px solid #dedede;
}

.nav-tabs-2>li.active>a, .nav-tabs-2>li.active>a:focus, .nav-tabs-2>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: inherit;
  /* border: none; */
  border-left: 3px solid #555 !important;
  padding-left: 12px !important;
}

#docs .nav-tabs-2 li a{
  /* padding-left: 15px !important; */
  padding: 12px 15px !important;
  border-bottom: none;
}

#docs .nav-tabs-2>li.active>a, #docs .nav-tabs-2>li.active>a:focus, #docs .nav-tabs-2>li.active>a:hover {
  color: #555;
  cursor: default;
  background-color: inherit;
  /* border: none; */
  border-left: 3px solid #555 !important;
  padding-left: 12px !important;
}

.link-btn{
  border: 1px solid #979797;
  border-radius: 5px;
  padding: 10px 25px !important;
}

header {
  /*background-image: url(../img/header-bg.jpg);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment: scroll;*/
  /*background-position: center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  color: #333;
}

header .intro-pic{
  padding-top: 100px;
  padding-bottom: 130px;
}

header .intro-text {
  padding-top: 200px;
  padding-bottom: 150px;
}

header .intro-text .intro-lead-in {
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
}

header .intro-text .intro-heading {
  line-height: 75px;
}

header .lead{
  margin-bottom: 30px !important;
}

header .link-btn.drk-grey-btn {
  margin-left: 10px;
  color: #fff;
}

header .link-btn {
  color: #333;
}

header .btn-wrap{
  margin: 0;
}

section {
  padding: 60px 0;
}

.bg-light-grey{
  background: #e9e9e9;
}

.lead{
  font-size: 18px;
  line-height: 25px;
}

.title{
  margin-bottom: 30px;
}

h2.section-heading{
  margin-bottom: 30px;
}

.btn-wrap{
  margin-top: 45px;
}

.form-wrap{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  /* margin-top: 30px; */
  padding: 35px 15px 55px;
  margin: 15px auto;
}

.sign-in.form-wrap{
  width: 45%;
  min-width: 350px;
}

.welcome.form-wrap{
  width: 50%;
  min-width: 350px;
}

.search.form-wrap{
  padding: 24px 10px 65px 10px;
}

.save-btns-wrap{
  padding-top: 20px;
}

.custom-search-form{
  margin-bottom: 20px;
  margin-top: 2px;
}

.custom-search-form p{
  padding: 7px 0px;
  font-size: 16px;
}

.custom-search-form button{
  border: none;
  font-size: 25px;
  padding-top: 0;
}

.custom-search-form input.form-control.search{
  border: none;
  font-size: 25px;
}

.form-head{
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
}

label{
  font-family: "Lato Medium", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #666666;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 3px;
}

.form-group {
  margin-bottom: 20px;
}

.drk-grey-btn{
  background: #868686;
  color: #ffffff;
}

.btn-xl {
  background-color: #666;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  color: #ffffff;
}

.btn-group-lg>.btn, .btn-lg {
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  border: 0;
  border-radius: 3px;
}

.search.form-wrap .btn-lg {
  margin: 0;
}

.btn-md{
  width:50%;
  margin: 0 auto;
  padding: 10px 16px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 3px;
  text-transform: uppercase;
}

.edit{
  margin-top: 0;
}

.discard-btn{
  margin-right: 10px;
}

.panel-heading {
  padding-bottom: 0;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  border: none;
}

.panel-heading-2 {
  padding: 10px 15px;
  border-bottom: 1px solid #dedede;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #f5f5f5;
}

.panel-heading-2 .panel-title {
  font-weight: bold;
  font-size: 14px;
}

.panel-body{
  padding: 25px 15px 40px 15px;
}

.panel-body hr{
  margin-top: 5px;
  margin-bottom: 30px;
}

.panel-body-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #dedede;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 30px;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 10px 0;
  top: 1px
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 14px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 14px;
  margin-left: 0;
  left: 11px;
  top: 6px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #2580db;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f5f5f5;
  opacity: 1;
  border: 1px solid #e4e4e4;
}

.form-links-wrap{
  margin-top: 20px;
}

.form-links{
  margin: 0;
  padding: 0;
}

.form-links li {
  display: inline;
  margin: 2px;
}

.checkbox{
  margin: 40px 0;
}

.img-center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#email-address{
  font-size: 20px;
  width: 80%;
  margin: 0 auto;
}

#email-confirmation-txt{
  margin-top: 20px;
  font-size: 14px;
}

#email-junk-txt{
  margin-top: 20px;
  margin-bottom: 40px;
}

#account-validated-msg{
  margin-bottom: 20px;
}

.well {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


#apps{
  padding-top: 35px;
}

#apps .page-header{border-bottom: 1px solid #555;}


footer{
  padding: 30px 0;
}

.footer-links li{
  display: inline;
  padding: 0px 10px;
  border-right: 1px solid #ccc;
}

.footer-links li:last-child {
  border-right: none;
}


@media (max-width: 768px) {
  .navbar-nav>li>a {
    text-transform: uppercase;
    text-align: center;
  }

  .dropdown-menu>li>a {
    text-transform: uppercase;
    text-align: center;
  }

  .link-btn{
    border: none;
    border-radius: 0px;
    padding: 10px 15px !important;
    text-transform: uppercase;
    text-align: center;
  }

  header .link-btn {
    color: #333;
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 10px 25px !important;
  }
}

@media (max-width: 992px) {
  header .intro-pic {
    padding-top: 100px;
    padding-bottom: 10px;
  }

  header .intro-pic img{
    margin-left: auto;
    margin-right: auto;
    display: auto;
  }

  header .intro-text {
    padding-top: 35px;
    padding-bottom: 150px;
    text-align: center;
  }

}

@media (max-width: 991px) {
  #signup-pic, #tips{
    display: none;
  }

  #sign-up h1, #sign-up .lead{
    text-align: center;
  }
}

.app-wrap{
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  padding: 25px 25px 25px;
  margin: 15px auto;
}

/* Admin Nav Panel */
#sidebar-menu {
    background-color: #333333 !important;
    height: 100% !important; /* Full height */
    position: fixed !important;
    overflow: none !important; /* Enable scrolling if the sidenav has too much content */
}

#sidebar-menu .panel, #admin-apps > li, #admin-users > li{
  margin-bottom: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-color: #333333 !important;
  background: #333333 !important;
}

#nav>li.panel.panel-heading:hover, #nav>li.panel.panel-heading:active, #sidebar-menu>ul>li>a:hover, #sidebar-menu>ul>li>a:hover:active, #users-sub >li:hover, #users-sub >li:hover:active, #apps-sub >li:hover, #apps-sub >li:active{
  background: #5C5C5C !important;

}

#sidebar-menu a {
  color: #B7B7B7 !important;
}

#sidebar-menu .nav:not(:first-child)>li>a {
  padding: 5px 5px !important;
}

#sidebar-menu .nav>li>a {
  padding: 30px 30px !important;
}

#sidebar-menu #nav>.panel, #nav>.panel-group {
  border-bottom: 1px solid #3E3E3E !important;
}

#sidebar-menu a.selected{
  font-weight: bold !important;
  background-color: #333333 !important;

}

#nav > li > a > span{
  color: #B7B7B7 !important;
}

#users-sub > li, #apps-sub > li{
  margin-left: -50px !important;
  padding-left: 50px !important;
}
/* Admin Nav Panel */
