body {
    margin: 0;
    /* padding-top: 50px; */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    -ms-tap-highlight-color: rgba(0,0,0,0);
    -o-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-osx-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    -ms-text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeSpeed!important;
    font-smooth: always;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    -moz-border-image: -moz-linear-gradient(to right, #E2E032 22%, #6DCC7F);
    -webkit-border-image: -webkit-linear-gradient(to right, #E2E032 22%, #6DCC7F);
    /* border-image: linear-gradient(to right, #E2E032 22%, #6DCC7F); */
    /* border-image-slice: 1; */
    /* border-top: 7px solid #0D3442; */
}

.background-actual{
    background: #e1e6e9  !important;
}

nav input, nav button  {
    font-size: 16px;
    height: 28px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1;
    outline: none;
}
nav header {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    float: left;
    margin-left: 20px;
    font-size: 25px;
    color: #00329F;
    font-weight: bold;
}

nav input {
    width: 50%;
    box-sizing: border-box;
    max-width: 500px;
    padding: 0 10px;

    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

nav input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

nav button {
    background-color: #fff;
    color: #333;
    padding: 2px 10px;

    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #ccc;
}

nav button:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}
nav button:active {
    background-color: #d4d4d4;
    border-color: #8c8c8c;
}

nav {
    width: 100%;
    /* height: 50px; */
    /* line-height: 50px; */
    text-align: center;
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    z-index: 1;
    box-sizing: border-box;
}
.navbar-default {
    background-color: #0D3442;
    border-color: #e7e7e7;
    margin-bottom: 0;
    position: fixed;
    box-shadow: 0 1px 1px rgba(0,0,0,.14);
    border: none;
    padding-top: 5px;
    padding-bottom: 0;
    /* padding: 0; */
    min-height: 40px;
    border-top: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    -webkit-border-image: -webkit-linear-gradient(left, #3acfd5 0%, #3a4ed5 100%);
    border-image: linear-gradient(to right, #E2E032 22%, #6DCC7F);
    border-image-slice: 1;
}

nav iframe {
    margin: 10px 0;
    position: absolute;
    right: 0;
    top: 0;

}

.navbar-default .navbar-nav>.active>a, .nav>li>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    padding: 27px 25px;
    color: #fff !important;
    background: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: 5px solid #E88011;
}

.navbar-fixed-top {
    /*position: initial !important; */
    /*right: 0; */
    /*left: 0; */
    /*z-index: 1030; */
}


.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    /* font-family: "Lato Black", Helvetica, Arial, sans-serif; */
    color: #fff !important;
    padding: 27px 25px 10px 15px!important;
    height: 40px;
}


header a {
    color: inherit;
    text-decoration: none;
}
@media (min-width: 1000px) {
    nav header {
        position: absolute;
    }
}

@media (max-width: 500px) {
    nav input {
        width: 70%;
    }
    nav header {
        display: none;
    }

    nav iframe {
        display: none;
    }
}

h1, h2, h3, h4, h5, p, a, .redoc-wrap, .param-name-content{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #333 !important;
}

h1{
    font-size: 1.9em !important;
    margin-bottom: 30px !important;
    /* font-weight: 400; */
    /* color: #cf441d !important; */
    font-family: "Lato" !important;
    font-weight: bold !important;
}

h2{
    font-size: 1.6em !important;
    font-weight: 300 !important;
    margin-bottom: 15px !important;
}

h3{
    font-size: 14px !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.api-info-header{
    padding-top: 86px !important;
    font-size: 0.85em !important;
    color: #bfbfbf !important;
    text-align: right !important;
}

/*#about-harvestapi{*/
/*font-size: 1.9em !important;*/
/*margin-bottom: 30px !important;*/
/*/!* font-weight: 400; *!/*/
/*/!* color: #cf441d !important; *!/*/
/*font-family: "Lato" !important;*/
/*font-weight: bold;*/
/*}*/

/*#what-is-harvestapi-{*/
/*font-size: 1.6em !important;*/
/*font-weight: 300 !important;*/
/*margin-bottom: 15px !important;*/
/*}*/

/*#what-is-an-api-{*/
/*font-size: 14px !important;*/
/*font-weight: bold !important;*/
/*text-transform: uppercase !important;*/
/*}*/

/*#open-source-project{*/
/*font-size: 14px !important;*/
/*font-weight: bold !important;*/
/*text-transform: uppercase !important;*/
/*}*/

/*#abis-relationship-with-rada{*/
/*font-size: 1.6em !important;*/
/*font-weight: 300 !important;*/
/*margin-bottom: 15px !important;*/
/*}*/

/*#what-data-does-the-api-use-{*/
/*font-size: 1.35em !important;*/
/*/!* color: #cf441d !important; *!/*/
/*font-size: 1.9em !important;*/
/*margin-bottom: 30px !important;*/
/*/!* font-weight: 400; *!/*/
/*/!* color: #cf441d !important; *!/*/
/*font-family: "Lato" !important;*/
/*font-weight: bold;*/
/*}*/

.menu-content{
    width: 250px !important;
    background-color: #F8FAFB !important;
    overflow-y: auto;
    overflow-x: hidden;
    /* position: absolute !important; */
    top: 80px !important;
    bottom: 0 !important;
}

.menu-cat-header {
    font-size: 0.929em !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    background-color: #f8fafb !important;
}

label.menu-cat-header{
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    color: #333!important;
    font-weight: normal !important;
}

label.menu-cat-header:hover{
    color: #cf441d !important;
}

label.menu-cat-header.active{
    color: #cf441d !important;
    background-color: transparent !important;
    font-weight: 400;
    padding: 20px !important;
    /* border-bottom: 1px solid rgba(204, 204, 204, 0.3); */
}

.menu-subitems.active{
    height: auto;
    border-left: 4px solid #CF441D;
}

.menu-subitems.active li, .menu-subitems li:hover, .menu-subitems li.active {
    background: #F4F6F7 !important;
}

.menu-subitems li:hover, .menu-subitems li.active {
    color: #cf441d !important;
}

.menu-subitems.active li.active{
    color: #cf441d !important;
    font-weight: 500 !important;
}


#api-content:before {
    background: #E1E6E9 !important;
    /* background: #333 !important; */
}

div.methods method{
    border-bottom:0;
}

.method-samples {
    background: #e1e6e9 !important;
    color: #666 !important
    /* background: #333!important; */
}

.method-samples pre{
    border: none
}

body > ng-view > redoc > div > div.api-content > methods-list > div > div {
    /* border-top: 1px solid rgba(127, 127, 127, 0.25); */
    padding-top: 70px;
}

api-info div p{
    display:none !important;
}

#api-content {
    margin-left: 250px !important;
}


#api-content p {
    margin-bottom: 3em !important;
}

body > ng-view > redoc > div > div.api-content:before{
    background: #E1E6E9 !important;
}

body > ng-view > redoc > div > div.api-content{
    top: 88px !important;
}

api-info div{
    width: 57% !important;
}
.menu-header{
    color: #616E7E!important;
    /* background: #fff !important; */
    letter-spacing: 3px !important;
    /* text-align: center !important; */
    /* border-bottom: 1px solid #ccc !important; */
    font-weight: 500 !important;
    padding-top: 20px !important;
}

.method-endpoint{
    background-color: #C4CFD4 !important;
}

responses-samples header, li.tab-success.active{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
    color: #354249 !important;
}

responses-samples div.redoc-json{
    background-color: #C4CFD4 !important;
}

.param-name{
    font-size: 0.929em;
    padding: 10px 0 10px 0;
    font-weight: 400;
    box-sizing: border-box;
    line-height: 20px;
    border-left: 1px solid rgba(207, 68, 29, 0.5)!important;
    white-space: nowrap;
    position: relative;
    vertical-align: top;
}

.param:first-of-type>.param-name:before {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: 0;
    border-left: 2px solid #fff!important;
    height: 21px;
}

.param-name>span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 7px;
    background-color: #cf441d !important;
    margin: 0 10px;
    vertical-align: middle;
}

.param-name>span:after {
    content: "";
    position: absolute;
    border-top: 1px solid rgba(207, 68, 29, 0.5)!important;
    width: 10px;
    left: 0;
    top: 21px;
}

.param:first-of-type .param-name:after {
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    border-left: 2px solid #fff !important;
    height: 20px;
    background-color: white !important;
    top: 0;
}

.param:last-of-type>.param-name:after, .param.last>.param-name:after {
    content: "";
    display: block;
    position: absolute;
    left: -2px;
    border-left: 2px solid #fff !important;
    top: 22px;
    background-color: !important;white;
    bottom: 0;
}


.param-name {
    display: table-cell !important;
    vertical-align: top !important;
}

.param:last-of-type>.param-name, .param.last>.param-name{
    position: relative !important;
}

.param:last-of-type>.param-name {
    border-left: 0 !important;
}

.param:last-of-type>.param-name:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    border-left: 1px solid rgba(207, 68, 29, 0.5) !important;
    height: 21px;
    background-color: white !important;
    top: 0;
}

api-info{
    padding:40px 40px 0px 40px !important;
}

.tag-info {
    /*     border-top: 1px solid rgba(151, 151, 151, 0.15) !important;
        padding: 50px 40px 30px 40px !important; */
    border-top:none !important;
    padding: 40px !important;
}

/* .tag-info:first-child{
    border-top:none !important;
    padding: 20px 40px !important;
} */

div.tag:first-child div.tag-info:first-child,
div.tag:nth-child(2) div.tag-info:first-child,
div.tag:nth-child(3) div.tag-info:first-child{
    padding-top:0 !important;
    padding-bottom: 20px !important;
}

div.tag:nth-child(3) div.tag-info:first-child{;
    padding-bottom: 70px !important;
}

div.tag:nth-child(4) div.tag-info:first-child,
div.tag:nth-child(5) div.tag-info:first-child,
div.tag:nth-child(6) div.tag-info:first-child,
div.tag:nth-child(7) div.tag-info:first-child{
    border-top: 1px solid rgba(151, 151, 151, 0.15) !important;
    padding: 50px 40px 0px 40px !important;
}

body > ng-view > redoc > div > div.api-content > methods-list > div > div:nth-child(4){
    border-top: none;
}

a.openapi-button {
    padding: 3px 8px 4px 8px !important;
    margin-left: 0.5em;
    font-weight: normal;
    background: #E88011 !important;
    color: #ffffff !important;
    border: 0 !important;
    border-radius: 3px !important;
}

.api-url {
    color: #666 !important;
}

span.path{
    color: #333 !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.type-string {
    color: #0faf20 !important;
}

.type-number {
    color: #cf441d !important;
}


/*pre{*/
/*max-height: 678px !important;*/
/*text-overflow: ellipsis !important;*/
/*display: block !important;*/
/*overflow: hidden !important;*/
/*}*/


/*pre:hover{*/
/*max-height: 100% !important;*/
/*text-overflow: inherit !important;*/
/*display: block !im   portant;*/
/*overflow: visible !important;*/
/*}*/


redoc.loading:before {
    color: #cf441d !important;
}

footer{
    text-align: right;
    padding: 10px;
    background-color: #333 !important;
}

footer a, footer a strong{
    color: #fff !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1024px;
        /*width: 100%;*/
    }
}

footer{
    margin-top: 0 !important;
    padding:30px;
}

.footer-links li {
    display: inline;
    padding: 0 10px;
    border-right: 1px solid #ccc;
    list-style: none;
}

.footer-links li:last-child {
    border-right: none;
}

.footer-links li a{
    color: #fff;
    font-weight:400;
}

.footer-links li span{
    color:#bbb;
}

.powered-by-badge{
    display: none;
}
.link-btn {
    border: 1px solid #979797;
    border-radius: 5px;
    padding: 10px 25px !important;
    margin: 15px 0;
}

.api-info-wrapper h1{
    margin: 0;
    font-size: 12px !important;
    text-align: right;
    color: #ccc !important;
}

.api-info-wrapper span.redoc-markdown-block h1{
    padding-top: 0!important;
    font-size: 1.9em !important;
    text-align: initial !important;
    color: #263238 !important;
}

.security-definition h2{
    padding-top: 10px !important;
}

span.dropdown{
    position: absolute;
    bottom: 16px;
    right: 30px;
    text-align: center;
}

span .dropdown-menu{
    left: initial !important;
    right: -12px !important;
    margin: 12px 0;
    text-align: center;
}

nav .dropdown-menu{
    min-width: 182px !important;
    right: 25px !important;
    top: 85%;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.dropdown-menu:before{
    content:"";
    position: absolute;
    right: 11px;
    top: -10px;
    width: 0;
    height: 0;
    /*border-style: solid;
    border-width: 0 7px 10px 7px;
    border-color: transparent transparent #fff transparent;*/
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid white;
    z-index:9999;

}

.dropdown-menu:after{
    content:"";
    position: absolute;
    right: 10px;
    top: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 11px 8px;
    border-color: transparent transparent #ccc transparent;
    z-index:9998;
}

.dropdown-menu>li>a {
    display: block;
    padding: 7px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
}