<!-- sidebar -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="/#/admin/" class="active">Home</a>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#Users">Users <span class="fa arrow pull-right"></span></a>
                <div id="Users" class="panel-collapse collapse">
                    <ul class=" nav nav-second-level">
                        <li>
                            <a href="/#/admin/users">User Accounts</a>
                        </li>
                        <li>
                            <a href="">User Activities</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" data-target="#Apps">Apps <span class="fa arrow pull-right"></span></a>
                <div id="Apps" class="panel-collapse collapse">
                    <ul class=" nav nav-second-level">
                        <li>
                            <a href="/#/admin/apps">Developer Apps</a>
                        </li>
                        <li>
                            <a href="">App Activities</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a href="">Roles</a>
            </li>
        </ul>
    </div>
</div>
<!-- /.sidebar -->