<ng-include src="'/partials/common/navigation.html'"></ng-include>

<!-- Page Content -->
<section id="" class="bg-light-grey">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="sign-in form-wrap">
                    <h2 class="form-head text-center">Confirm Your Email Address</h2>
                    <img class="img-center" src="http://www.placehold.it/150x150"/>
                    <p id="email-address" class="well text-center">loremipsum@gmail.com</p>
                    <p id="email-confirmation-txt" class="text-center">An email was sent to the above email address.<br/>
                        Click the link in email to activate your account.</p>
                    <p id="email-junk-txt" class="small text-center">If you don’t see the email, please check your junk mail folder.</p>

                    <p class="text-center">
                        <!--<button type="submit" class="btn btn-default btn-md drk-grey-btn">Resend Email</button>-->
                        <a href="validated.html" class="btn btn-default btn-md drk-grey-btn">Resend Email</a>
                    </p>

                    <p class="text-center">
                        <a id="link" class="text-center" href="signin.html">Sign into a different account</a>
                    </p>

                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
</section>

<ng-include src="'/partials/common/footer.html'"></ng-include>