<!-- Page Content -->
<section id="apps" class="bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="search form-wrap">
                    <div ng-show="apps.length < 1" class="col-md-6">
                        <div class="input-group custom-search-form-text">
                            <p class="lead">You currently have no apps.</p>
                            <span class="sub-lead text-muted">To get started, click the button and create a new app.
                            </span>
                        </div>
                    </div>
                    <div ng-show="apps.length > 0" class="col-md-6">
                        <div class="input-group custom-search-form">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                            <input type="text" class="form-control search" ng-model="searchText" placeholder="Search by Name...">
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <a href="" class="btn btn-default btn-lg drk-grey-btn" data-toggle="modal" data-target="#myModal">
                            <i class="fa fa-plus fa-fw"></i> Add a New App
                        </a>
                    </div>
                </div>

            </div>

            <div class="col-md-12 display-as-table">

                <div ng-repeat="app in apps | filter:searchText" class="col-md-6 app-wrap">
                    <div ng-mouseleave="app.showCaret = false" ng-mouseover="app.showCaret = true" id="{{app._id}}" class="col-md-12 app">
                        <div class="col-md-12 app-header">
                            <h4 class="text-center text-uppercase app-title" ng-class="!isAppActive(app.ap_app_status) ? 'disabled-app' : ''">
                                {{app.ap_app_name}}
                            </h4>
                             <span class="dropdown">
                                     <a ng-show="app.showCaret" class="dropdown-toggle show inactive" data-toggle="dropdown" href="">
                                         <i class="fa fa-caret-down"></i>
                                     </a>
                                      <!-- dropdown-app-options -->
                                     <ul class="dropdown-menu dropdown-app-options">
                                         <li><a ng-click="setAppState($index, 'active')" href=""><i ng-if="app.ap_app_status=='active'" class="fa fa-check fa-fw"></i> {{isAppActive(app.ap_app_status) ? 'Enabled' : 'Enable' }}</a>
                                         </li>
                                         <li><a ng-click="setAppState($index, 'disabled')" href=""><i ng-if="app.ap_app_status=='disabled'" class="fa fa-check fa-fw"></i> {{isAppActive(app.ap_app_status) ? 'Disable' : 'Disabled' }}</a>
                                         </li>
                                         <!--<li><a href="" data-toggle="modal" data-target="#deleteAppModal">Delete app</a>
                                         </li> TODO: Implement Application deleting functionality-->
                                     </ul>
                                     <!-- /.dropdown-app-options-->
                             </span>
                        </div>
                        <div class="col-md-12 app-description" ng-class="!isAppActive(app.ap_app_status) ? 'disabled-app' : ''">
                            <div class="col-md-4">
                                <p class="text-left">Brief Description :</p>
                            </div>
                            <div class="col-md-8">
                                <p>{{app.ap_app_desc}}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12 app-key" ng-class="!isAppActive(app.ap_app_status) ? 'disabled-app' : ''">
                            <div class="col-md-4">
                                <p class="text-left">API Key :</p>
                            </div>
                            <div class="col-md-8">
                                <p class="app-token">{{app.ap_app_token}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </div>
</section>


<!-- Modal -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog" style="margin: 110px auto">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add a New App</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <form>
                                            <div class="form-group">
                                                <label for="inputAppName">App Name</label>
                                                <input ng-model="app.ap_app_name" type="text" class="form-control" id="inputAppName" placeholder="Type the name of your new app">
                                            </div>
                                            <div class="form-group">
                                                <label>Description</label>
                                                <textarea ng-model="app.ap_app_desc" class="form-control" rows="3" placeholder="Briefly describe your new app"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" ng-click="createApp()" class="btn btn-default" data-dismiss="modal">Submit</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>