<ng-include src="'/partials/common/navigation.html'"></ng-include>

<!-- Page Content -->
<section id="apps" class="bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search form-wrap">
                    <div class="col-md-6">
                        <div class="input-group custom-search-form">
                            <p>You currently have no apps.</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-3">
                        <!--<button type="submit" class="btn btn-default btn-md drk-grey-btn">Add</button>-->
                        <a href="validated.html" class="btn btn-default btn-lg drk-grey-btn">
                            <i class="fa fa-plus fa-fw"></i> Add a New App
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<ng-include src="'/partials/common/footer.html'"></ng-include>