<div ng-include src="'/partials/common/navigation.html'"></div>

<!-- Page Content -->
<section class="bg-light-grey">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center title">Lorem Ipsum Dolor</h1>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-responsive img-center" src="http://placehold.it/150x150" alt="">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus sed mauris non dolor.</p>
                <a href="#">This is a link</a>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-responsive img-center" src="http://placehold.it/150x150" alt="">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus sed mauris non dolor.</p>
                <a href="#">This is a link</a>
            </div>
            <div class="col-lg-4 col-sm-4 text-center">
                <img class="img-responsive img-center" src="http://placehold.it/150x150" alt="">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit vivamus sed mauris non dolor.</p>
                <a href="#">This is a link</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6">
                <h2 class="section-heading">Lorem Ipsum Dolor</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sed mauris non dolor vehicula semper a ornare erat.
                    Suspendisse laoreet fermentum sapien, vel suscipit leo pharetra nec.
                    Proin vulputate massa diam, vitae dignissim mauris consectetur in.
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                <img class="img-responsive" src="http://www.placehold.it/900x700" alt="">
            </div>
        </div>
    </div>
</section>
<section class="bg-light-grey">
    <div class="container">
        <div class="row">
            <h1 class="text-center title">Lorem Ipsum Dolor Set Amit</h1>
            <div class="btn-wrap">
                <p class="text-center">
                    <a href="signup.html" class="link-btn">Sign Up</a>
                    <a href="#" class="link-btn drk-grey-btn">View Documentation</a>
                </p>
            </div>
        </div>
    </div>
</section>

<ng-include src="'/partials/common/footer.html'"></ng-include>
