<!-- sidebar -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#/dashboard-admin" class="active">Home</a>
                </li>
                <li>
                    <a href="#">Users <span class="fa arrow pull-right"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/dashboard-admin-users-accounts">User Accounts</a>
                        </li>
                        <li>
                            <a href="#/dashboard-admin-users-activities">User Activities</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Apps <span class="fa arrow pull-right"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#/dashboard-admin-apps-devapps">Developer Apps</a>
                        </li>
                        <li>
                            <a href="#/dashboard-admin-apps-activities">App Activities</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#/dashboard-admin-roles">Roles</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.sidebar -->
