
<!-- Page Content -->
<section id="apps" class="bg-light-grey">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <h4 class="title"><strong>Account Settings</strong></h4>
                <div class="panel panel-default">
                    <div id="menu1" class="">
                        <div class="panel-lg-heading">
                            <h3 class="panel-lg-title text-center">{{user.us_user_first_name}} {{user.us_user_last_name}}</h3>
                            <h5 class="text-center">{{user.us_user_role}}</h5>
                            <p class="text-center">Active member since {{user.us_user_creation_date | date:'medium'}}</p>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                    <h4><strong>Profile Information</strong>
                                    </h4>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <br/>
                                <div class="col-md-6">
                                   <div class="row">
                                       <div class="col-md-3">
                                           <p class="text-right text-muted">Full Name:</p>
                                       </div>
                                       <div class="col-md-9">
                                           <p class="text-left">{{user.us_user_first_name}} {{user.us_user_last_name}}</p>
                                       </div>
                                   </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-right text-muted">Email Address:</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p class="text-left">{{user.us_email_address}}</p>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-right text-muted">Phone Number:</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p class="text-left">{{user.us_contact}}</p>
                                        </div>
                                    </div>
                                    <br/>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-right text-muted">Address:</p>
                                        </div>
                                        <div class="col-md-9">
                                            <address>
                                                {{user.us_address}}
                                            </address>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-right text-muted">Company:</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p class="text-left">{{user.us_company}}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <p class="text-right text-muted">Intended Use:</p>
                                        </div>
                                        <div class="col-md-9">
                                            <p class="text-left">{{user.us_intended_use}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr/>
                            <div class="col-md-12">
                                <hr/>
                                <h4>
                                    <strong>Password</strong>
                                </h4>
                                </div>
                            <div class="col-md-12">
                            <form>
                                <div class="form-group">
                                    <div class="disabled-style col-md-12">
                                        <div class="col-md-9">
                                            <input type="password" class="form-control disabled " id="currentPassword" value="Password" disabled="">
                                        </div>
                                        <span class="col-md-1 col-md-offset-2"><a href="#" class="btn btn-default btn-lg field-btn drk-grey-btn" data-toggle="modal" data-target="#changePasswordModal">Edit</a></span>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>

<!-- Modal -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="modal fade" id="changePasswordModal" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times; <span>Close</span></button>
                            <h4 class="modal-title">Change Password</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="">
                                        <form>
                                            <div class="form-group">
                                                <label for="inputOldPassword">Old Password</label>
                                                <input type="password" class="form-control" id="inputOldPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputNewPassword">New Password</label>
                                                <input type="password" class="form-control" id="inputNewPassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="inputConfirmPassword">Confirm New Password</label>
                                                <input type="password" class="form-control" id="inputConfirmPassword">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <a href="dashboard-apps.html" class="btn btn-default drk-grey-btn">Submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
